In [ ]:
pip install mlxtend

# Problem Stmt: To check for related products(ARM):

Data prepared in list format:

In [1]:
A = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
     ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
     ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
     ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
     ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [2]:
#To encode data within list[TEF]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
Q = pd.DataFrame(te.fit_transform(A),columns=te.columns_)
Q

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [4]:
#Calculate Support and Confidence

In [5]:
from mlxtend.frequent_patterns import apriori
apriori(Q,use_colnames=True)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Kidney Beans, Onion, Eggs)

In [6]:
def conf(df,item1,item2):
    x = df[item1].sum()
    y = df[[item1,item2]][(df[item1] == True) & (df[item2] == True)].shape[0]
    return y/x

In [7]:
conf(Q,"Eggs","Onion")

0.75

In [8]:
Q[Q.Eggs == True].shape[0]

4

In [9]:
Q[(Q.Eggs == True)&(Q.Milk == True)].shape[0]

2

In [10]:
conf(Q,"Eggs","Milk")

0.5